################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project1/v15/Browse.VC.db
/.vs/Project1/v15/Browse.VC.opendb
